<%= notice %>

<h5>codigo: <%= @sale.cod %></h5>
<h5>detalle: <%= @sale.detail %></h5>
<h5>categoria: <%= @sale.category %></h5>
<h5>descuento: <%= @sale.discount %></h5>
<h5>valor: <%= @sale.value %></h5>
<h5>iva: <%= @sale.tax %></h5>
<h5>total: <%= @sale.total %></h5>

<%= link_to 'volver', root_path %>
